$primary-color: #e0c9b1;

.menu__section {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  font-family: 'Federo', sans-serif;
  height: 85vh;
  text-align: center;
  width: 15%;
}

.menu__contents {
  margin-left: 2%;
}

.parties__header {
  font-size: 1.5em;
}

hr {
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border: 0;
  height: 1px;
  width: 70%;
}

.start-party__button {
  font-size: 2em;
  height: 30px;
  margin-top: 20%;
  &:hover {
      text-shadow: 1px 1px 1px;
      transform: 20px 10px;
  }
}

.add-party__button {
  background-color: $primary-color;
  border: none;
  font-size: 2em;
  height: 20px;
  padding: 5px;
}

.input {
  height: 30px;
  margin-top: 15%;
  width: 80%;
}

ul {
  padding: 0px;
}