.cocktail__container {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Federo', sans-serif;
  font-size: 1.3em;
  height: overflow;
  overflow: scroll;
  opacity: 0.8;
  width: 85%;
}

.cocktail-name {
  font-size: 1.3em;
  height: 5vh;
  margin-left: -40px;
}

.cocktail__element {
  align-items: center;
  background-color: rgba(92, 92, 92, .85);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 45%;
  margin: 1%;
  text-align: center;
  width: 14%;
    &:hover {
    background-color: rgba(92, 92, 92, 1);
  }
}

.cocktail__img {
  height: 150px;
  width: 150px;
}

.view-cocktail__button {
  background-color:  rgba(92, 92, 92, 0);
  border: none;
  color: white;
  font-family: 'Federo', sans-serif;
  font-size: 1em;
  margin-top: 15%;
}