.cocktail__container {
  background-image: url('../../images/cocktail2.jpeg');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  opacity: 0.8;
  width: 85%;
}

.cocktail__element {
  background-color: rgba(92, 92, 92, 0.66);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1%;
  text-align: center;
  height: 40%;
}

.cocktail__img {
  height: 200px;
  width: 200px;
}