.header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-between;
  text-shadow: 1px 1px 1px;
  width: 100%;
}

.header__text {
  font-family: 'Federo', sans-serif;
  font-size: 3.5em;
  margin-left: 2%;
}