.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__section {
  background-image: url('../../images/cocktail2.jpeg');
  background-size: cover;
  display: flex;
  width: 100%;
}