.cocktail__search {
  width: 40%;
}

.search__input {
  height: 30px;
  width: 60%;
}

.search-cocktail__button {
  background-color: white;
  border: none;
  font-family: 'Federo', sans-serif;
  font-size: 1em;
  height: 30px;
  width: 15%;
}